/** Basic styles */
.v-aboutbox .about {
	position: absolute;
	top: -250px;
	right: 0px;
	width: 160px;
	height: 290px;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	text-align: center;
	color: #a0a0a0;
}

/* Shadow */
.v-aboutbox .s {
	position: absolute;
	top: 0px;
	right: 10px;
	width: 140px;
	height: 11px;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
}

.v-aboutbox .about.open {
	top: -30px;
}

.v-aboutbox .about .t {
	width: 120px;
	height: 60px;
	overflow: hidden;
	margin-left: 20px;
	margin-top: 55px;
}

.v-aboutbox .about .d {
	width: 120px;
	height: 65px;
	overflow: hidden;
	margin-left: 20px;
	margin-top: 15px;
}

.v-aboutbox .about .l {
	width: 120px;
	height: 20px;
	margin-left: 20px;
	margin-top: 10px;
	cursor: hand;
	cursor: pointer;
}

.v-aboutbox .about .c {
	width: 120px;
	margin-left: 20px;
	margin-top: 29px;
	cursor: hand;
	cursor: pointer;
	overflow: hidden;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
}

.v-aboutbox .about.open .c {
	color: transparent;
	text-shadow: none;
	display:none;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
}

.v-aboutbox .about.hl .c {
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
}